.DS_Store
.htaccess

application/cache/*
uploads/*
application/xcrud/xcrud_config.php

!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

.idea/*
.idea
application/xcrud/xcrud_config.php
application/config/constants.php
